.idea/
/generate.sh
/file.json
tests/test_models/__pycache__/
tests/test_models/test_engine/__pycache__/
/test_params_create
/main*
/drop_dev_database.sql
/7-dump*
/web_flask/templates/7-dump.sql
/web_flask/templates/validator
