.idea/
/generate.sh
/file.json
tests/test_models/__pycache__/
tests/test_models/test_engine/__pycache__/
/test_params_create
/main*
/drop_dev_database.sql
/*-dump*
/web_flask/templates/*-dump*
/web_flask/templates/validator
